<%- include("../layouts/adminHeader.ejs") %>


                    
                
<div class="row mt-5">
    <div class="col-12">
        <div class="card">
            <form action="/admin/adminCategory" method="post">
                <div class="row d-flex justify-content-center align-items-center mt-5 ">
                    <div class="d-flex flex-row align-items-center mb-4">
                       
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example3c">Enter New
                                Category</label>
                            <input type="text" id="form3Example3c" class="form-control"
                                name="category" required />
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="d-flex justify-content-center">
                            <button type="submit" value="Register"
                                class="btn btn-warning ">Submit</button>
                                <% if(typeof message!=='undefined' ){ %>
                                    <p style="color: red;">
                                      <%= message%>
                                    </p>
                    
                                    <% } %>
                        </div>
                    </div>
                </div>
            </form>
           
            <div class="card-body">
                <h4 class="card-title">Categories</h4>
                <!-- <h6 class="card-subtitle">Add <code>.table-hover</code> to enable a hover state on table
                    rows within a <code>&lt;tbody&gt;</code>.</h6> -->


                   
                <div class="table-responsive">
                    <table class="table table-hover table-striped " style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th scope="col">SI NO</th>
                                <th scope="col">Category Name</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if( category.length> 0){ %>
                                <% for(let i=1;i <=category.length; i++){ %>
                                    <tr>
                                        <th scope="row">
                                            <%= i %>
                                        </th>
                                        <td>
                                            <%= category[i-1].name %>
                                        </td>
                                        <td>
                                            <a class="text-success"
                                                href="/admin/edit-category?id=<%=category[i-1]._id%>"><i
                                                    style="color: green;"
                                                    class="m-r-5 mdi mdi-border-color"></i>Edit</a><br>
                                        </td>

                                        <td>
                                            
                                                    <% if(category[i-1].isAvaiable===0){%>

                                                        <a class="btn btn-success show"
                                                         href="/admin/show-category?id=<%= category[i-1]._id %>">Show</a>
                                                
                                                         <% } else { %>
                  
                                                          <a class="btn btn-danger unshow"
                                                         href="/admin/block-category?id=<%= category[i-1]._id %>"> Hide</a>
                  
                                                         <% } %>
                                        </td>
                                    </tr>
                                    <% }} else { %>
                                        <tr>
                                            <td colspan="5">Category Not Found</td>
                                        </tr>
                                        <% } %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".unshow").on("click", function (e) {
        e.preventDefault()
        var self = $(this)
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, Hide it',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                // swalWithBootstrapButtons.fire(
                //     'Deleted!',
                //     'Your file has been deleted.',
                //     'success'
                // )
                location.href=self.attr('href')
            } 
        })
    })
</script>

<script>
    $(".show").on("click", function (e) {
        e.preventDefault()
        var self = $(this)
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, Show it',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                // swalWithBootstrapButtons.fire(
                //     'Deleted!',
                //     'Your file has been deleted.',
                //     'success'
                // )
                location.href=self.attr('href')
            } 
        })
    })
</script>