
<%- include("../layouts/adminHeader.ejs") %>

<div class="container mt-5">
  <div class="row bootstrap snippets bootdeys">
    <div class="col-md-8 col-sm-12">
      <div class="">
        <div class="panel panel-info">
          <div class="panel-heading text-center">
            <h3>Coupon List</h3>
          </div>
          <div class="panel-body">
            <% if(typeof message!="undefined" ){ %>
            <p class="text-danger">
              <%= message %>
            </p>
            <%}%>
            <table class="table" style=" text-align: center; color: white;">
                <tr>
                    <th>No</th>
                    <th>Items</th>
                    <th>Type</th>
                    <th>Discount</th>
                    <th>minimumBill</th>
                    <th>Expiry Date</th>

                    <th>Action</th>
                </tr>
                <tr>
                    <% if(coupon.length> 0){
                        for(let i=0;i<coupon.length;i++){ %>
                <tr>
                    <td>
                        <%=i+1%>
                    </td>
                    <td>
                        <%=coupon[i].name%>
                    </td>
                    <td>
                        <%=coupon[i].type%>
                    </td>
                    <td>
                        <%=coupon[i].discount%>
                    </td>
                    <td>
                        <%=coupon[i].minimumBill%>
                    </td>
                    <td>
                        <%=coupon[i].expirydate%>
                    </td>
                    <td>
                        <%if(coupon[i].isActive===0){%>
                            <button type="button" class="btn"><a
                                    href="/admin/show-coupon?id=<%=coupon[i]._id%>"
                                    style="color: rgb(255, 255, 255); text-decoration: none;"
                                    class="btn btn-outline-success show">Show</a></button>
                            <%}else{%>
                                <button type="button" class="btn "><a
                                        href="/admin/block-coupon?id=<%=coupon[i]._id%>"
                                        style="color: rgb(255, 255, 255); text-decoration: none; "
                                        class="btn btn-outline-danger delete "> Hide </a></button>
                                <%}%>
                    </td>
                </tr>
                <% } }else{ %>
                    <tr>
                        <td colspan="5">Coupon not found</td>
                    </tr>
                    <% } %>
                        </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

