
<%- include("../layouts/adminHeader.ejs") %>
<div class="container">
  <br>
  <div class="row">
    <div class="col-xl-6 offset-xl-3">
      <div class="text-box mt-5 mb-5">
        <h2 style="color: white;">Edit Product</h2>
        <div>
          <% if(typeof messages!=='undefined' ){ %>
          <h4>
            <p style="color: rgb(11, 139, 47);">
              <%= messages%>
            </p>
          </h4>
          <% } %>
          <% if(typeof message!=='undefined' ){ %>
          <h4>
            <p style="color: rgb(43, 255, 0);">
              <%= message%>
            </p>
          </h4>
          <% } %>
        </div>
        <form action="/admin/editProduct/<%=product._id%>" encType="multipart/form-data" method="post">



          <div class="mb-4 form-floating">
            <label for="floatingInput">Name</label>
            <input type="text" name="name" class="form-control" placeholder="Product Name" required value="<%=product.name%>">

          </div>
          <div class="d-flex flex-row align-items-center mb-4">

            <div class="form-outline flex-fill mb-0">
              <label class="form-label  select-label" for="form3Example1c">Category</label>
              <select name="category" class="form-control" required>
                <option value="" disabled selected><%=product.category%></option>
                <% if(category){ %>
                <% for(let i=1;i <=category.length; i++){ %>
                <option value="<%= category[i-1]._id %>">
                  <%= category[i-1].name %>
                </option>
                <% } %>
                <% }else{ %>
                <h1>No Categories to add</h1>
                <% } %>
              </select>
            </div>
          </div>
          <div class="mb-4 form-floating">
            <label for="floatingPassword">Price</label> 
            <input type="text" name="price" class="form-control" id="floatingPassword" required value="<%=product.price%>">
          </div>
          <div class="mb-4 form-floating">
             <label for="floatingPassword">Quantity</label> 
            <input type="text" name="quantity" class="form-control" id="floatingPassword" required value="<%=product.quantity%>">
          </div>
          <div class="mb-4 form-floating">
            <label for="floatingInput">Product Description</label> 
            <input type="text" name="description" class="form-control" id="floatingInput2" required value=" <%=product. description%>" style="height:7rem;">
          </div>
          <!-- <div class="form-outline flex-fill mb-0">
            <label class="form-label" for="form3Example1c">Rating</label>
            <input type="number" id="rating" class="form-control" name="rating" required value="<%=product. rating%> "
                >

        </div> -->
        <div class="mb-4 form-floating">
          <label for="floatingInput">Rating</label> 
          <input type="text" name="rating" class="form-control" id="floatingInput2" required value=" <%=product.rating%>" >
        </div>


          <div class="mb-4 form-floating">
            <label for="floatingInput">Image</label>
            <img src="/banners/<%=product.image[0]%>" height="75vh" width="75vh">
                                            <img src="/banners/<%=product.image[1]%>" height="75vh" width="75vh">
                                            <img src="/banners/<%=product.image[2]%>" height="75vh" width="75vh">
                                           
            <input type="file" name="uploaded_file" class="form-control" id="formFileMultiple" accept="image/png, image/gif, image/jpeg" multiple required  />
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <button type="submit" class="btn btn-warning">Submit
              <a href="/admin/addProduct" class="btn btn-light btn-round px-5">Go Back</a>
            </button>

          </div>
        </form>
      </div>

    </div>
  </div>
</div>