<% if(isLoggedIn){ %>
  <%- include("../layouts/header.ejs") %>
    <% }else{ %>
      <%- include('../layouts/guestHeader.ejs') %>
        <%}%>

  <div class="hero-wrap hero-bread" style="background-image: url('assets/upload/Background.jpg');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span>
            <span>Checkout</span>
          </p>
          <h1 class="mb-0 bread">Checkout</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 ftco-animate">
          <form action="/checkout" method="post" class="billing-form">
            <% if(addSelect){ %> 
            <%if(addSelect!=null){%>
              <h3 class="mb-4 billing-heading">Billing Details</h3>
              <div class="row align-items-end">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="firstname">Firt Name</label>
                    <input type="text" class="form-control" name="firstname" value="<%= addSelect.firstname %>"
                      required>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" name="lastname" value="<%= addSelect.lastname %>" required>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="country">State / Country</label>
                    <input type="text" class="form-control" name="country" value="<%= addSelect.country %>" required>

                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="streetaddress">Street Address</label>
                    <input type="text" class="form-control" name="address" value="<%= addSelect.address %>" required>
                  </div>
                </div>

              </div>
              <div class="w-100"></div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="city">Town / City</label>
                  <input type="text" class="form-control" name="city" value="<%= addSelect.city %>" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="zip">Postcode / ZIP *</label>
                  <input type="text" class="form-control" name="zip" value="<%= addSelect.zip %>" required>
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-md-6">
                <!-- <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" name="phone" value="<%= addSelect.phone %>" required>>
              </div> -->
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">State</label>
                  <input type="text" name="state" class="form-control" value="<%= addSelect.state %>" required>
                </div>
              </div>
              <% }else{ %>
                <h1>NO ADDRESS</h1> 
              <%} }else{%>
                <div class="row align-items-end">

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="firstname">First Name</label>
                      <input type="text" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="lastname">Last Name</label>
                      <input type="text" class="form-control" required>
                    </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="country">Country</label>
                      <input type="text" class="form-control" required>

                    </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="streetaddress">Street Address</label>
                      <input type="text" class="form-control" required>
                    </div>
                  </div>

                </div>
                <div class="w-100"></div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="city">Town / City</label>
                    <input type="text" class="form-control" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="zip">Postcode / ZIP *</label>
                    <input type="text" class="form-control" required>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="phone">State</label>
                    <input type="text" class="form-control" required>
                  </div>
                </div>
                <!-- <div class="col-md-6">
              <div class="form-group">
                <label for="email">Email Address</label>
                <input type="text" class="form-control" required>

              </div>
            </div> -->
                <% }%>

                  <div class="w-100"></div>
                  <div class="col-md-12">
                    <div class="form-group mt-4">

                    </div>
                  </div>
        </div>



        <div class="tab-pane ml-5" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">


          <div class="tab-pane" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
            <!-- <a href="#" class=""> Add Address <i class="icon-edit"></i></a> -->

            <p>You can select the following Shipping Address.</p>


            <div class="row">
              <%if(userAddress.length>0){
                for(let key of userAddress){%>
                <a href="/checkout?addressid=<%=key._id%>">
                  <div class="col-lg-4">
                    <a href="/checkout?addressid=<%=key._id%>">
                      <div class="card card-dashboard">

                        <a href="/checkout?addressid=<%=key._id%>">
                          <div class="card-body">
                            <h3 class="card-title">Shipping
                              Address</h3>
                            <p>
                              <%= key.firstname %>
                                <%=key.lastname%><br>
                                  <%= key.address %> , <%= key.address2 %>
                                      <br>
                                      <%= key.city %>
                                        , <%= key.state %><br>
                                          <%= key.country %>
                                            <br>
                                            <%= key.zip %>
                                              <br>
                                              <%= key.phone %>
                                                <br>
                                                <br>
                                                <a href="#">Edit <i class="icon-edit"></i></a>
                                                <a href="/deleteaddress?id=<%= key._id %>"><i class="icon-close"></i>
                                                  delete</a>
                            </p>
                          </div>
                        </a>

                      </div>
                    </a>

                  </div>
                </a>

                <%}}else{%>

                  <div class="col-lg-6">
                    <a href="">
                      <div class="card card-dashboard">
                        <div class="card-body">
                          <h3 class="card-title">Shipping Address
                          </h3>

                          <p>You have not set up this type of
                            address yet.<br>
                        </div>
                      </div>
                    </a>
                  </div>
                  <%}%>
            </div>
          </div>





          <div class="row mt-5 pt-3 ml-5 d-flex">
            <div class="col-md-4  d-flex">

              <div class="cart-detail cart-total bg-light p-3 p-md-4">
                <h3 class="billing-heading mb-4">Cart Total</h3>
                <p class="d-flex">

                <p class="d-flex">
                  <span>SubTotal</span>
                  <span>
                    <% if(id){ %>
                      ₹ <%= cartProducts.totalPrice %>
                        <% } %>
                  </span>
                </p>

                <hr>
                <p class="d-flex total-price">

                  <span>Total</span>
                  <span>

                    <% if(couponTotal) { %>

                      <span id="total">₹ <%= couponTotal%></span>
                      <% }else{ %>
                        <%= cartProducts.totalPrice %>
                          <% } %>

                  </span>

                </p>


              </div>
            </div>
            <div class="col-md-6">
              <div class="cart-detail bg-light p-3 p-md-4">
                <h3 class="billing-heading mb-4">Payment Method</h3>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label><input type="radio" name="payment" value="Cash-on-Dilevery" class="mr-2">
                        Cash on
                        Delivery</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label><input type="radio" name="payment" value="RazorPay" class="mr-2">
                        Razorpay</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label><input type="radio" name="optradio" class="mr-2"> Paypal</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="checkbox">
                      <label><input type="checkbox" value="" class="mr-2"> I have read and accept the
                        terms and conditions</label>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn-danger" style="margin: 3rem;">Place Order</button>



              </div>
            </div>
          </div>
        </div> <!-- .col-md-8 -->
      </div>
      </form>
    </div>
  </section> <!-- .section -->

  <%- include('../layouts/footer.ejs') %>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" />
    </svg></div>


  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/jquery.easing.1.3.js"></script>
  <script src="/assets/js/jquery.waypoints.min.js"></script>
  <script src="/assets/js/jquery.stellar.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/jquery.magnific-popup.min.js"></script>
  <script src="/assets/js/aos.js"></script>
  <script src="/assets/js/jquery.animateNumber.min.js"></script>
  <script src="/assets/js/bootstrap-datepicker.js"></script>
  <script src="/assets/js/scrollax.min.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/assets/js/google-map.js"></script>
  <script src="/assets/js/main.js"></script>
  <script>
    let rdbtns = document.querySelectorAll("input[name='optradio']")
    let output = document.querySelector("#payment")

    function selected() {
      let selected = document.querySelector("input[name='optradio']:checked").value
      output.value = selected
    }
    rdbtns.forEach(x => {
      x.addEventListener('change', selected)
    })
  </script>

  </body>

  </html>